/******************************

汎用コンテンツ

******************************/
.index article h2::after,
.category article h2::after,
.sub-title::after {
    padding: 5px;
    color: #FF971F;
    font-size: 12px;
    font-weight: bold;
}
.category-title::after      { content: "CATEGORY";}
.blog-title::after          { content: "BLOG";}
.transpotation-title::after { content: "TRANSPORTATION";}
.reqruit-title::after       { content: "REQRUIT";}
.typograph-title::after     { content: "SEARCH";}
.search-title::after        { content: "SEARCH";}
.reqruit-title::after       { content: "REQRUIT"}

.publish-btn {
	background: #4DA869;
	border-radius: 30px;
}
.copyright {
	background: #4DA869;
}
.text-clip {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}




/******************************

TOPページ

******************************/
.index .blog-item h3::before {
    content: "";
}
.index .blog-area,
.index .search-item {
    border: 2px solid #4DA869;
    border-radius: 5px;
}
.index .category-item {
	width: 48%;
}





/******************************

カテゴリページ

******************************/
.category .item-pickup {
	border: 5px solid #4DA869;
	border-radius: 5px;
}
.category .item-pickup h3 {
	background: #4DA869;
}
.category .item-content {
	padding: 0.5rem;
}
.category .item-data dt {
    color: #FF971F;
}
.category .badge-area {
	margin: 0.5rem 0;
	border-bottom: 1px solid #000;
}
.category .badge-coupon {
	border: solid 2px #FF6464;
	border-radius: 1rem; 
	color: #FF6464;
	padding: 0.3rem 1rem;
} 
.category .badge-reqruit {
	border: solid 2px #D72FFF;
	border-radius: 1rem; 
	color: #D72FFF;
	padding: 0.3rem 1rem;
}





/******************************

詳細ページ

******************************/
.detail .subtitle {
    color: #FF971F;
}
.detail .service-title::after  { content: "SERVICE";}
.detail .time-title::after     { content: "SCHEDULE";}
.detail .coupon-title::after   { content: "COUPON";}
.detail .comment-title::after  { content: "COMMENT";}
.detail .info-title::after     { content: "INFO";}
.detail .photo-title::after    { content: "PHOTO";}
.detail .reqruit-title::after  { content: "REQRUIT";}
.blog-btn {
	position: fixed;
	left: 60%;
	top: 80%;
}
.call-btn {
	position: fixed;
	left: 80%;
	top: 80%;
}





/******************************

検索ページ

******************************/
.search .item-pickup {
	border: 5px solid #4DA869;
	border-radius: 5px;
}
.search .item-pickup h3 {
	background: #4DA869;
}
.search .item-content {
	padding: 0.5rem;
}
.search .item-data dt {
    color: #FF971F;
}
.search .badge-area {
	margin: 0.5rem 0;
	border-bottom: 1px solid #000;
}
.search .badge-coupon {
	border: solid 2px #FF6464;
	border-radius: 1rem; 
	color: #FF6464;
	padding: 0.3rem 1rem;
} 
.search .badge-reqruit {
	border: solid 2px #D72FFF;
	border-radius: 1rem; 
	color: #D72FFF;
	padding: 0.3rem 1rem;
}





/******************************

ブログ詳細

******************************/
.blog-show .blog-article {
	border: 5px solid #4DA869;
	border-radius: 5px;
}

.blog-show .blog-article .title {
	background: #4DA869;
}



/******************************

画像ギャラリー機能

******************************/
#my_gal11{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	max-width:640px;
	margin:auto;
}

/** 写真部分。アスペクト比維持のため、padding-top:～%;に写真部分の（高さ／幅）を％で書く。 **/
#my_gal11 .base{
	position:relative;
	top:0px;
	left:0px;
	padding-top:75%;
}

/** 写真部分の個々の写真。transition-duration:1s;はアニメーション速度。 **/
#my_gal11 .base img{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	width:100%;
	opacity:0;
	transition-property:opacity;
	transition-duration:1s;
}

/** サムネイル一覧。 **/
#my_gal11 .gallery{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
/* #my_gal11 .gallery{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	margin-top:5px;
	text-align:center;
} */

/** サムネイル。 **/
#my_gal11 .gallery img{
	width:24%;
	cursor:pointer;
}
#my_gal11 .gallery img:hover{
	opacity:0.5;
}